<%= render 'movies/sidebar', user: @user %>

<div>
  <h2>Users</h2>
  <% @users.each do |user| %>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: 'noimage-760x460.png', :size => "40x40" %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user.id) %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>