<div class="container">
  <div class="row py-5">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcom to <strong>Movie<i class="fas fa-film"></i>Bookers</strong>!!</h1>
      <p>in <strong>Movie<i class="fas fa-film"></i>Bookers</strong>,</p>
      <p>
        you can share and exchange your opinions , inpressions , and emotions<br>
        about various books!
      </p>
    </div>
  </div>